/* styles.css */

body {
    font-family: Arial, sans-serif;
}

/* flatpickr custom styling */
.flatpickr-day.disabled {
    background: #ccc !important; /* Uygun olmayan tarihler gri */
    color: #666 !important;
}

.flatpickr-day:not(.disabled) {
    background: #fff !important; /* Uygun olan tarihler beyaz */
    color: #000 !important;
}
