{% extends "base.html" %}
{% block title %}Anasayfa{% endblock %}
{% block content %}
<h1 class="mb-4">Mevcut Evler</h1>

<!-- Harita Alanı -->
<div id="map" style="height: 500px; margin-bottom: 30px;"></div>

<!-- Mevcut Evler Kartları -->
<div class="row">
    {% for property in properties %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ property.title }}</h5>
                <p class="card-text">{{ property.description[:100] }}...</p>
                <a href="{{ url_for('property_detail', property_id=property.id) }}" class="btn btn-primary">Detayları Gör</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Google Maps JavaScript API -->
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap" async defer></script>
<script>
    function initMap() {
        const büyükçekmece = {lat: 41.0214, lng: 28.5960};
        const map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: büyükçekmece
        });

        {% for property in properties %}
        {
            // Rengi get_marker_color fonksiyonuna göre belirleyelim
            const color = "{{ property.get_marker_color() }}";

            const marker = new google.maps.Marker({
                position: {lat: {{ property.latitude }}, lng: {{ property.longitude }}},
                map: map,
                title: '{{ property.title }}',
                icon: {
                  path: google.maps.SymbolPath.CIRCLE,
                  scale: 10,
                  fillColor: color,
                  fillOpacity: 1,
                  strokeWeight: 1
                }
            });

            // Marker'a tıklandığında detay sayfasına git
            marker.addListener('click', () => {
                {% if current_user.is_authenticated %}
                    window.location.href = "{{ url_for('property_detail', property_id=property.id) }}";
                {% else %}
                    alert("Kullanıcı girişi yapmadan işlem gerçekleştirilemez!");
                {% endif %}
            });
        }
        {% endfor %}
    }
    window.initMap = initMap;
</script>
{% endblock %}
